<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>大赛</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section class="nav">
        <a class="logo"></a>
        <article class="nav_content">
            <ul>
                <li><a href="/owner">主办方</a></li>
                <li><a href="/cooperator">合作伙伴</a></li>
                <li><a class="selected" href="/">大赛</a></li>
                <li><a href="/flow">流程</a></li>
                <li><a href="/sponsor">赞助</a></li>
                <li><a href="/contact_us">联系我们</a></li>
            </ul>
        </article>
    </section>
    <section class="content" id="page_match">
        <aside class="sub_nav">
            <ul>
                <li class="nav_item"><a href="/" class="selected">赛制</a></li>
                <li class="nav_item"><a href="/" >评委</a></li>
                <li class="nav_item"><a href="/">拟邀嘉宾</a></li>
            </ul>
            <div class="just_aline"></div>
        </aside>
        <h1 class="title">大赛</h1>
        <article>
            <ul>
                <li class="section_li">
                    <h4 class="section_title">赛制</h4>
                    <h4 class="p_title">参赛队伍</h4>
                    <p class="desc">中欧美各选拔出5只优秀创业团队，最终赴美参加总决赛
                    </p>
                    <h4 class="p_title">参赛资格</h4>
                    <p class="desc">核心团队成员至少有一位是女性的创业团队
                    </p>
                    <p class="desc">
                        产品和服务主要针对女性用户的创业团队
                    </p>
                    <h4 class="p_title">现场观众</h4>
                    <p class="desc">300位，投资机构、创业女性和大学生优先</p>

                    <h4 class="p_title">大赛奖励</h4>
                    <p class="desc">赴美国硅谷参加总决赛</p>
                    <p class="desc">知名网络科技媒体的专项报道</p>
                    <p class="desc">与中美知名投资人共进午餐</p>
                    <p class="desc">创业培训课程</p>
                    <p class="desc">Draper University奖学金计划</p>
                    <p class="desc">加入世界级的资源合作网络</p>

                </li>

                <li class="section_li">
                    <h4 class="section_title">大赛评委</h4>
                    <ul>
                        <li class="woman">
                            <img class="head_img" src="/static/img/11.pic_hd.jpg">
                            <h5 class="name">李宏玮</h5>
                            <p>GGV纪源资本 合伙人</p>
                        </li>
                        <li class="woman">
                            <img class="head_img" src="/static/img/9.pic_hd.png">
                            <h5 class="name">方爱之</h5>
                            <p>真格基金 总经理</p>
                        </li>
                        <li class="woman">
                            <img class="head_img" src="/static/img/8.pic_hd.jpg">
                            <h5 class="name">杨玟</h5>
                            <p>赫斯特集团中国区董事总经理</p>
                        </li>
                        <li  class="woman">
                            <img class="head_img"src="/static/img/10.pic_hd.jpg">
                            <h5 class="name">张宁宇</h5>
                            <p>Intel Capital中国区董事总经理</p>
                        </li>
                    </ul>
                </li>

                <li class="section_li">
                    <h4 class="section_title">拟邀嘉宾</h4>
                    <ul>
                        <li class="woman">
                            <img class="head_img" src="/static/img/women001.jpg">
                            <h5 class="name">Lisa Lambert</h5>
                            <p>英特尔投资部 副总裁</p>
                        </li>
                        <li class="woman">
                            <img class="head_img" src="/static/img/woman002.jpg">
                            <h5 class="name">Jessica Livingston</h5>
                            <p>Y Combinator 合伙人</p>
                        </li>
                        <li class="woman">
                            <img class="head_img" src="/static/img/man003.jpg">
                            <h5 class="name">Tim Draper</h5>
                            <p >DFJ投资基金 合伙人 <br> Draper University 创始人</p>
                        </li>
                        <li  class="woman">
                            <img class="head_img"src="/static/img/man004.jpg">
                            <h5 class="name">张宁宇</h5>
                            <p>Intel Capital中国区董事总经理</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </article>
    </section>

</body>
</html>