<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>主办方</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section class="nav">
        <a class="logo"></a>
        <article class="nav_content">
            <ul>
                <li><a href="/owner" class="selected">主办方</a></li>
                <li><a href="/cooperator">合作伙伴</a></li>
                <li><a href="/">大赛</a></li>
                <li><a href="/flow">流程</a></li>
                <li><a href="/sponsor">赞助</a></li>
                <li><a href="/contact_us">联系我们</a></li>
            </ul>
        </article>
    </section>
    <section class="content" id="page_match">
        <header class="img_section">
            <img src="/static/img/Her-Startup-Logo5.png">
        </header>
        <article>
            <ul>
                <li class="section_li">
                    <h4 class="section_title">TechBase她本营</h4>
                    <p class="desc">国内首个专业女性科技创业平台。她本营融合媒体、社区以及加速器功能，
                        致力于打造垂直化的女性科技创业生态圈，鼓励更多女性在科技互联网领域发挥力量，
                        帮助女性通过创造和实践来改变世界。
                    </p>
                </li>


                <li class="section_li">
                    <h4 class="section_title">SoGal</h4>
                    <p class="desc">创立于洛杉矶的全球女性创业者和投资人平台，目前成员遍布20多个国家。
                        SoGal通过大型活动交流、创业孵化、风险投资和资源对接，为年轻女性打通活跃线上线下社群，
                        从而为世界培养和展现新生代女性力量。
                    </p>
                </li>

                <li class="section_li">
                    <h4 class="section_title">Lean In China</h4>
                    <p class="desc">Lean In China是中国的Lean In组织。目标是鼓舞中国的年轻职业女性与大学女生树立自信，
                        追求自我定义的目标与理想。我们通过在全国建立活跃的互助社区来支持女性的成长与发展，
                        推广导师及互助文化，培养发展女性领导力。目前已在全国16个城市和40所高校成立了Lean In China圈子和分会。
                    </p>
                </li>

                <li class="section_li">
                    <h4 class="section_title">氪空间</h4>
                    <p class="desc">
                        氪空间是36氪旗下，以联合办公为载体的创业服务平台。目前已经在北京、深圳、上海、杭州、天津、成都、
                        福州等城市设点，为全球的创业者提供高性价比的极致办公体验和全方位的深度创业服务，
                        倡导共享的价值理念和开放的社群氛围，立志为创业者提供最好的产品和服务。
                        “氪空间”可以帮助那些产品可以做到极致、却没有很顺畅的融资资源的团队，
                        让他们在早期能更顺利的获得融资并起步。成立一年多时间，已经有近1万个项目申请入驻，
                        最终筛选共101个创业项目，毕业项目融资率超过97%，毕业项目总估值超过105亿，
                        其中21个项目超过1亿估值，孵化项目天使轮最高融3亿人民币。
                    </p>
                </li>
            </ul>
        </article>
    </section>

</body>
</html>