<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>合作伙伴</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section class="nav">
        <a class="logos">
            <span class="techbase logo"></span>
            <span class="sogal logo"></span>
            <span class="leanin logo"></span>
            <span class="krspace logo"></span>
        </a>
        <article class="nav_content">
            <ul>
                <li><a href="/organizer">{{data.nav.organizer}}</a></li>
                <li><a href="/partner" class="selected">{{data.nav.partner}}</a></li>
                <li><a href="/review">{{data.nav.home}}</a></li>
                <li><a href="/schedule">{{data.nav.schedule}}</a></li>
                <li><a href="/sponsor">{{data.nav.sponsor}}</a></li>
                <li><a href="/us">{{data.nav.us}}</a></li>
            </ul>
        </article>
        <div id="language">
            <p><a id="zh" href="/partner?language=zh">中文</a></p>
            <p><a id="en" href="/partner?language=en">English</a></p>
        </div>
    </section>
    <section class="content" id="page_organizer">
        <aside class="sub_nav">
            <!--<ul>-->
                <!--<li class="nav_item"><a href="/" class="selected">指导单位</a></li>-->
                <!--<li class="nav_item"><a href="/" >战略合作伙伴</a></li>-->
                <!--&lt;!&ndash;<li class="nav_item"><a href="/">培训合作伙伴</a></li>&ndash;&gt;-->
            <!--</ul>-->
        </aside>
        <article>
            <ul>
                <li class="section_li">
                    <h4 class="section_title">{{data.partner_page.special_partner_title}}</h4>
                    <img class="partner_img" src="/static/img/special_partner.jpg">
                </li>

                <li class="section_li">
                    <h4 class="section_title">{{data.partner_page.title_sponsor_title}}</h4>
                    <img class="partner_img" src="/static/img/title_sponsor.jpg">
                </li>

                <li class="section_li">
                    <h4 class="section_title">{{data.partner_page.strategic_partner_title}}</h4>
                    <img class="partner_img" src="/static/img/strategic_partner.jpg">
                </li>


                <li class="section_li">
                    <h4 class="section_title">{{data.partner_page.company_partner_title}}</h4>
                    <img class="partner_img" src="/static/img/company_partner.jpg">
                </li>

                <li class="section_li">
                    <h4 class="section_title">{{data.partner_page.media_partner_title}}</h4>
                    <img class="partner_img" src="/static/img/media_partner.jpg">
                </li>
            </ul>
        </article>
    </section>

</body>
</html>