<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>大赛</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section class="nav">
        <a class="logos">
            <span class="techbase logo"></span>
            <span class="sogal logo"></span>
            <span class="leanin logo"></span>
            <span class="krspace logo"></span>
        </a>
        <article class="nav_content">
            <ul>
                <li><a href="/organizer">{{data.nav.organizer}}</a></li>
                <li><a href="/partner">{{data.nav.partner}}</a></li>
                <li><a href="/review">{{data.nav.home}}</a></li>
                <li><a href="/schedule" class="selected">{{data.nav.schedule}}</a></li>
                <li><a href="/sponsor">{{data.nav.sponsor}}</a></li>
                <li><a href="/us">{{data.nav.us}}</a></li>
            </ul>
        </article>
        <div id="language">
            <p><a id="zh" href="/schedule?language=zh">中文</a></p>
            <p><a id="en" href="/schedule?language=en">English</a></p>
        </div>
    </section>
    <section class="content" id="page_match">

        <section id="timeline" class="cd-container">

            <div class="item">
                <p class="logo-line">
                    <a class="logo"></a>
                </p>
                <a class="datetime">
                    5月18日前
                </a>
                <div class="content">
                    <h5 class="name">报名、材料提交<br>BO初轮筛选</h5>

                </div>
            </div>

            <div class="item">
                <p class="logo-line">
                    <a class="logo"></a>
                </p>
                <a class="datetime">5月27日</a>
                <div class="content">
                    <div class="nnn">
                        <h5 class="name">北京赛区初轮面试</h5>
                    </div> 
                </div>
            </div>
			<div class="item">
                <p class="logo-line">
                    <a class="logo"></a>
                </p>
                <a class="datetime">5月28日</a>
                <div class="content">
                    <div class="nnn">
                        <h5 class="name">杭州赛区初轮面试</h5>
                    </div> 
                </div>
            </div>
			<div class="item">
                <p class="logo-line">
                    <a class="logo"></a>
                </p>
                <a class="datetime">5月29日</a>
                <div class="content">
                    <div class="nnn">
                        <h5 class="name">成都赛区初轮面试</h5>
                    </div> 
                </div>
            </div>
			<div class="item">
                <p class="logo-line">
                    <a class="logo"></a>
                </p>
                <a class="datetime">6月4日</a>
                <div class="content">
                    <div class="nnn">
                        <h5 class="name">深圳赛区初轮面试</h5>
                    </div> 
                </div>
            </div>
			
			<div class="item">
                <p class="logo-line">
                    <a class="logo"></a>
                </p>
                <a class="datetime">6月5日</a>
                <div class="content">
                    <div class="nnn">
                        <h5 class="name">广州赛区初轮面试</h5>
                    </div> 
                </div>
            </div>
			
            <div class="item">
                <p class="logo-line">
                    <a class="logo"></a>
                </p>
                <a class="datetime">6月18日</a>
                <div class="content">
                    <div class="nnn">
                        <h5 class="name">中国区决赛</h5>
                    </div>
                    <h4 class="title">决赛流程</h4>
                    <ul>
                        <li>13:30-14:00 开幕演讲</li>
                        <li>14:00-15:30 第一环节展示</li>
                        <li>15:30-17:00 第二环节展示</li>
                        <li>17:00-17:30 第三环节展示</li>
                        <li>17:30-18:00 闭幕式</li>
                        <li>18:00-20:00 交流派对</li>
                    </ul>
                    <p>每5个创业团队为一个展示环节,10分钟评委问答点评,80分钟5个团队展示完毕,10分钟休息时间</p>

                </div>
            </div>

            <!--<div class="item">
                <p class="logo-line">
                    <a class="logo"></a>
                </p>

                <a class="datetime">6月XX日(未确定)</a>
                <div class="content">
                    <div class="nnn">
                        <h5 class="name">美国场决赛</h5>
                    </div>
                </div>
            </div>-->

            <div class="item">
                <p class="logo-line">
                    <a class="logo"></a>
                </p>
                <a class="datetime">7月18日 - 7月19日</a>
                <div class="content">
                    <div class="nnn">
                        <h5 class="name">创业训练营（美国）</h5>
                    </div>
                    <ul>
                        <li>
                            <p>第一天</p>
                            <p class="">
                                <span class="am_pm">上午</span>
                                <span class="action">主题演讲: 为什么创业？</span>
                            </p>
                            <p class="">
                                <span class="am_pm">下午</span>
                                <span class="action">与嘉宾分组互动</span>
                            </p>

                        </li>
                        <li>
                            <p>第二天</p>
                            <p class="leflf">
                                <span class="am_pm">上午</span>
                                <span class="action">商业快速增长法则</span>
                            </p>
                            <p class="righ">
                                <span class="am_pm">下午</span>
                                <span class="action">独角兽是如何炼成的</span>
                            </p>

                        </li>
                    </ul>
					<p>培训合作伙伴有：斯坦福大学商学院、德雷普英雄学院、Y Combinator、500 Startups</p>
                </div>
            </div>

            <div class="item">
                <p class="logo-line">
                    <a class="logo"></a>
                </p>
                <a class="datetime">7月20日</a>
                <div class="content">
                    <div class="nnn">
                        <h5 class="name">全球总决赛（硅谷）</h5>
                    </div>

                </div>
            </div>
            <div class="item">
                <p class="logo-line">
                    <a class="logo"></a>
                </p>
                <a class="datetime">7月21日 - 7月22日</a>
                <div class="content">
                    <div class="nnn">
                        <h5 class="name">硅谷公司游学</h5>
                        <img class="" src="/static/img/schedule/guigu.jpg">
                    </div>

                </div>
            </div>
        </section>
    </section>

</body>
</html>