<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>大赛</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section class="nav">
        <a class="logos">
            <span class="techbase logo"></span>
            <span class="sogal logo"></span>
            <span class="leanin logo"></span>
            <span class="krspace logo"></span>
        </a>
        <article class="nav_content">
            <ul>
                <li><a href="/organizer">{{data.nav.organizer}}</a></li>
                <li><a href="/partner">{{data.nav.partner}}</a></li>
                <li><a href="/review">{{data.nav.home}}</a></li>
                <li><a href="/schedule" >{{data.nav.schedule}}</a></li>
                <li><a href="/sponsor" class="selected">{{data.nav.sponsor}}</a></li>
                <li><a href="/us">{{data.nav.us}}</a></li>
            </ul>
        </article>
        <div id="language">
            <p><a id="zh" href="/sponsor?language=zh">中文</a></p>
            <p><a id="en" href="/sponsor?language=en">English</a></p>
        </div>
    </section>
    <div class="content" id="page_match">

        <section class="section_line">
            <h4 class="section_title">冠名赞助 50万人民币</h4>
            <p class="desc">1. 活动冠名权</p>
            <p class="desc">2. 在大赛与赛前训练营全部宣传资料将赞助商logo置于首位</p>
            <p class="desc">3. 赞助方相关成员可以参与硅谷孵化器参观</p>
            <p class="desc">4. 大赛媒体报道　(包括网络媒体报道持有冠名赞助商的介绍）</p>
            <p class="desc">5. 活动现场播放公司高管视频寄语或公司高管亲自在开幕式现场演讲,提供一个产品展位</p>
            <p class="desc">6. 获胜团队奖品为公司产品</p>
            <p class="desc">7. 公司产品礼品袋赠送给评委、嘉宾、参赛选手及观众</p>
        </section>

       <section class="section_line">
            <h4 class="section_title">金牌赞助 20万人民币</h4>
            <p class="desc">1. 在大赛全部宣传资料呈现赞助商logo</p>
            <p class="desc">2. 赞助方相关成员可以参与硅谷孵化器参观</p>
            <p class="desc">3. 大赛媒体报道</p>
            <p class="desc">4. 活动现场播放公司高管视频寄语</p>
            <p class="desc">5. 获胜团队奖品为公司产品</p>
            <p class="desc">6. 公司产品礼品袋赠送给评委、嘉宾、参赛选手及观众</p>
        </section>

        <section class="section_line">
            <h4 class="section_title">普通赞助 10万人民币</h4>
            <p class="desc">1. 在大赛全部宣传资料呈现赞助商logo</p>
            <p class="desc">2. 大赛媒体报道</p>
            <p class="desc">3. 公司产品礼品袋赠送给评委、嘉宾、参赛选手及观众</p>
        </section>
    </div>

</body>
</html>