<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>大赛</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section class="nav">
        <a class="logos">
            <span class="techbase logo"></span>
            <span class="sogal logo"></span>
            <span class="leanin logo"></span>
            <span class="krspace logo"></span>
        </a>
        <article class="nav_content">
            <ul>
                <li><a href="/organizer">{{data.nav.organizer}}</a></li>
                <li><a href="/partner">{{data.nav.partner}}</a></li>
                <li><a href="/review">{{data.nav.home}}</a></li>
                <li><a href="/schedule">{{data.nav.schedule}}</a></li>
                <li><a href="/sponsor">{{data.nav.sponsor}}</a></li>
                <li><a href="/us" class="selected">{{data.nav.us}}</a></li>
            </ul>
        </article>
        <div id="language">
            <p><a id="zh" href="/us?language=zh">中文</a></p>
            <p><a id="en" href="/us?language=en">English</a></p>
        </div>
    </section>
    <div class="content" id="page_us">
        <p class="us_desc">Her Startup女性科技互联网创业大赛是由TechBase她本营，Lean In China, SoGal及氪空间
            携手打造的一场地跨中国、美国及东南亚的大型跨国女性创业大赛。
            Her Startup大赛旨在为全世界女性创业者提供展示交流的舞台，促进更多优秀女性创业者及
            女性消费领域项目的成熟与发展。本届大赛面向女性创业者及针对女性用户群体的创业项目，
            大赛全程由国内外知名媒体报道，投资机构投资人亲临现场关注参赛项目，报名项目均可通过
            项目展示获得重量级投资人关注及多家主流媒体曝光，入选决赛的优秀创业团队还将获得在中、美顶级VC前曝光机会。</p>

        <!--<section class="section_line">-->
            <!--<h4 class="section_title">往期回顾</h4>-->
            <!---->
        <!--</section>-->
        <section class="mail_us">
            <p>如果您有任何疑问或建议请发送邮件到HerStartup邮箱：</p>
            <p class="tip2">herstartup@aliyun.com</p>
            <p>或通过微信联系客服 Miss Tech微信号</p>
            <img src="/static/img/wx/miss_tech.jpg">
            <p class="tip2">tabenying</p>
        </section>
        <section class="wx">
            <h4 class="section_title1">请关注我们的公众号</h4>
            <ul>
                <li class="techbase">
                    <img src="/static/img/wx/techbase.jpg">
                    <p>TechBase</p>
                </li>
                <li>
                    <img src="/static/img/wx/lean_in_china.jpg">
                    <p>Lean In Beijing</p>
                </li>
                <li>
                    <img src="/static/img/wx/sogal.jpg">
                    <p>SoGal</p>
                </li>
                <li>
                    <img src="/static/img/wx/krspace.png">
                    <p>氪空间</p>
                </li>
            </ul>
        </section>
    </div>
</body>
</html>